﻿@model project.Models.ticket_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ticket_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flight.airline_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight.airline_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flight_detail.flight_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_detail.flight_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passenger.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passenger.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ticket_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
