﻿@model IEnumerable<project.Models.ticket_info>

@{
    ViewBag.Title = "Index";
}

<h2>Ticket-information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr class="btn-primary">
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight.airline_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight_detail.flight_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passenger.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flight.airline_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flight_detail.flight_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passenger.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ticket_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.ticket_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ticket_id })
        </td>
    </tr>
}

</table>
