﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Login</title>

    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
</head>

<body>
    <div class="container" ng-app="userLogin">
        <div class="row">
            <div class="col-md-4 jumbotron">
                <form ng-controller="loginUserController">
                    <div class="form-group">
                        <label for="uname">User Name:</label>
                        <div class="input-group">
                            <div class="input-group-addon glyphicon glyphicon-user"></div>
                            <input type="text" ng-model="Email" placeholder="E-mail Id" maxlength="40" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <div class="input-group">
                            <div class="input-group-addon glyphicon glyphicon-lock"></div>
                            <input type="password" ng-model="Password" placeholder="Password" formControlName="Password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" ng-click="logIn()" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var myApp = angular.module('userLogin', []);
        myApp.controller("loginUserController", function ($scope, $http) {
            $scope.logIn = function () {
                var bearer = "";
                var user = {
                    grant_type: 'password',
                    username: $scope.Email,
                    password: $scope.Password,
                };
                $.ajax({
                    type: "POST",
                    url: "https://localhost:44301/token",
                    data: user,
                    contentType: "application/x-www-form-urlencoded",
                    dataType: "json",
                    success: function (data) {
                        bearer = data.access_token;
                        localStorage.setItem('token', bearer);
                        alert("login successfully");
                        window.location.href = 'dashboard.html';
                    },
                    failure: function (response) {
                        alert("failed " + JSON.stringify(response));
                    },
                    error: function (response) {
                        alert("On Error " + JSON.stringify(response));
                    }
                });
            }
        });
    </script>
</body>
</html>