﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Registration</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
</head>
<body>
    <div class="container" ng-app="userRegister">
        <div class="row">
            <div class="col-md-4 jumbotron">
                <form ng-controller="regUserController">
                    <div class="form-group">
                        <label for="uname">User Name:</label>
                        <div class="input-group">
                            <div class="input-group-addon glyphicon glyphicon-user"></div>
                            <input type="text" ng-model="email" placeholder="E-mail Id" maxlength="40" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <div class="input-group">
                            <div class="input-group-addon glyphicon glyphicon-lock"></div>
                            <input type="password" ng-model="Password" placeholder="Password" formControlName="Password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Confirm Password:</label>
                        <div class="input-group">
                            <div class="input-group-addon glyphicon glyphicon-lock"></div>
                            <input type="password" ng-model="ConfirmPassword" placeholder="Confirm Password" formControlName="ConfirmPassword" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" ng-click="register()" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var myApp = angular.module('userRegister', []);
        myApp.controller("regUserController", function ($scope, $http) {
            $scope.register = function () {
                var bearer = "";
                var user = {
                    grant_type: 'password',
                    Email: $scope.email,
                    Password: $scope.Password,
                    ConfirmPassword: $scope.ConfirmPassword
                };
                $.ajax({
                    type: "POST",
                    url: "https://localhost:44301/api/Account/Register",
                    data: user,
                    contentType: "application/x-www-form-urlencoded",
                    dataType: "text",
                    success: function (data) {
                        alert("registered successfully");
                    },
                    failure: function (response) {
                        alert("failed " + JSON.stringify(response));
                    },
                    error: function (response) {
                        alert("On Error " + JSON.stringify(response));
                    }
                });
            }
        });
    </script>
</body>
</html>