﻿@model project.Models.flight_detail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>flight_detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.flight_departure_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_departure_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.available_seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.available_seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flight.airline_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight.airline_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.flight_no }) |
    @Html.ActionLink("Back to List", "Index")
</p>
