﻿@model IEnumerable<project.Models.flight_detail>

@{
    ViewBag.Title = "Index";
}

<h2>flight detail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.flight_departure_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.available_seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight.airline_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.flight_departure_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.available_seats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flight.airline_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.flight_no }) |
            @Html.ActionLink("Details", "Details", new { id=item.flight_no }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.flight_no })
        </td>
    </tr>
}

</table>
