﻿@model WebApplication2.Models.admin_Login

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>admin_Login</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.admin_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userlogin.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userlogin.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.admin_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
