﻿@model IEnumerable<WebApplication2.Models.admin_Login>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.admin_username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userlogin.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.admin_username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userlogin.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.admin_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.admin_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.admin_Id })
        </td>
    </tr>
}

</table>
