﻿@model project.Models.passenger

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>passenger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.l_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_num)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.profile_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
