﻿@model project.Models.flight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.airline_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airline_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.from_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.from_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.to_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.to_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departure_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departure_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrival_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_seats)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.flight_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
