﻿@model IEnumerable<project.Models.flight>

@{
    ViewBag.Title = "Index";
}

<h2>flight</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr >
        <th>
            @Html.DisplayNameFor(model => model.airline_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.from_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.to_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departure_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrival_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_seats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.airline_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.from_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.to_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departure_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrival_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_seats)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.flight_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.flight_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.flight_id })
        </td>
    </tr>
}

</table>
