﻿<html>
<head>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/module.js"></script>
    <script src="Scripts/PersonController.js"></script>
    <script src="Scripts/service.js"></script>
</head>
<body ng-app="CarDashboardDashboard" ng-controller="myController">
    <div class="container">
        <h2>Car Record</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnEmpty" ng-click="displayForAdd()">Add New Record</button><br /><br />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col"> Name</th>
                    <th scope="col">Model</th>
                    <th scope="col">Service</th>
                </tr>
            </thead>
            <tbody id="tabcontent">
                <tr ng-repeat="x in data">
                    <td>{{ x.Id }}</td>
                    <td>{{ x.Name }}</td>
                    <td>{{ x.Model }}</td>
                    <td>{{ x.Service }}</td>
                    <td><a href="#" data-toggle="modal" data-target="#myModal" ng-click="displayForUpdate(x)">Edit</a>|<a href="#" data-toggle="modal" data-target="#myModal" ng-click="displayForRemove(x)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{operation}}</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="EmployeeId">ID</label>
                            <input type="text" class="form-control" ng-model="Id" placeholder="Id" />
                        </div>
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" ng-model="Name" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <label for="Name">Model</label>
                            <input type="text" class="form-control" ng-model="Model" placeholder="Model" />
                        </div>
                        <div class="form-group">
                            <label for="Name">Service</label>
                            <input type="text" class="form-control" ng-model="Service" placeholder="Service" />
                        </div>
                </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-primary" id="btnAdd">Add</button> -->
            <button type="button" class="btn btn-success" data-target="myModal" data-dismiss="modal" ng-click="addNewRecord()" id="btnAdd">Add</button>
            <button type="button" class="btn btn-danger" data-bind="myModal" data-dismiss="modal" ng-click="deleteRecord()" id="btnDelete">Delete</button>
            <button type="button" class="btn btn-primary" data-bind="myModal" data-dismiss="modal" ng-click="updateRecord()" id="btnUpdate">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
    </div>
    
</body>
</html>
